.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 10rem;
    height: 3rem;
}
.header-menu{
    list-style: none;
    display: flex;
    color: white;
    gap: 2rem ;
}
 
.header-menu>li:hover{
    cursor: pointer;
    color: var(--orange);
}
@media screen and (max-width:768px){
    .header>:nth-child(2){
        z-index: 99;
    }
    .header-menu{
        padding: 1rem;
        flex-direction: column;
        position: relative;
        right: 15px;
        background-color: var(--appColor);
    }
    .bars:hover{
        cursor: pointer;
    }
}